html, body {width:100%;height:100%;} /*非常重要的样式让背景图片100%适应整个屏幕*/

.bg {display: table;width: 100%;height: 100%;padding: 100px 0;text-align: center;color: #fff;background: url(../images/bg.jpg) no-repeat bottom center;background-color: #000;background-size: cover;}
.my-navbar {padding:20px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
.my-navbar a{background:transparent !important;color:#fff !important;font-size: 25px;}
#TITLE{font-size: 40px;font-weight: 200;}
.navbar-nav li{margin-left: 80px;}
.my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/
.top-nav {padding:0;background:#000;}
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
button.navbar-toggle > span.icon-bar {background-color:#dedede}
nav{float:right;margin-right: 10px;}

.introduce{
    width:100%;
    height:500px;
    padding: 30px;
    background-color: #4B535A;
    border-bottom: 1px solid #fff;
}
.introduce2{
    width:100%;
    height:800px;
    padding: 30px;
    background-color: #4B535A;
    border-bottom: 1px solid #fff;
}
.indexpart2img{
    float:left;
    margin-left: 60px;

}
.indexpart2words{
    color: white;
    margin-left:620px;
    margin-top: 40px;
}
.indexpart2words h3{
    margin-top: 30px;
    color:#E98B2A;
}
.indexpart2words p{
    width:1000px;
    line-height: 45px;
    font-size: 18px;
}
.indexpart2words a{
    float:right;
    padding:10px;
    margin-right: 60px;
    color:#fff;
    border:1px solid #ffffff;
}
.footerpart1{
    background-color:#2b2a2a ;
    width:100%;
    height:100px;
    border-bottom: 1px solid #707070;
    color:#fff;
    padding-top: 30px;
    padding-left: 680px;
}
.footerpart2{
    background-color: #2b2a2a;
    width:100%;
    height:100px;
    color:#fff;
    padding-top: 30px;
    padding-left: 680px;
}
.footer{
    width:100%;
    height:200px;
    background-color: #2b2a2a;
}